<div class="container mt-3">
	<div class="row"> <!-- Button -->
		<div class="col px-0 text-center">
			<!-- <button type="button" appMyButton >new message</button> -->
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">new message</button>
		</div>
		<!-- Start of test --->
		<!-- Modal -->
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
	Launch demo modal
  </button>
   -->
  <!-- Modal -->

		<!-- End of Test-->
	</div>
	<div class="row">
		<div class="col-12 mt-3">
			<h4 class="lead">folders</h4>
			<!-- List of Icons -->
			<div class="container">
					<ul class="fa-ul">
						<li><i class="fa-li fa fa-caret-down fa-fw text-primary"></i>inbox<div appMyBadge [userColor]="'red'">4</div>
						</li>
						 <li><i class="fa-li fa fa-caret-right fa-fw text-primary"></i>drafts</li>
						 <li><i class="fa-li fa fa-caret-right fa-fw text-primary"></i>sent</li>
						 <li><i class="fa-li fa fa-flag fa-fw text-primary"></i>spam</li>
						 <li><i class="fa-li fa fa-trash-alt fa-fw text-primary"></i>trash</li>
					</ul> 
			   </div>
		  </div>
	</div>
</div>

<!-- Start of test -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="exampleModalLabel">New Message</h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">
			  <app-message-form></app-message-form>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
			  <button type="button" class="btn btn-primary">Send Message</button>
			</div>
		  </div>
		</div>
	  </div>