<div class="wrapper fadeInDown">
    <div id="formContent" class="p-5">              
      <!-- Header -->
      <div class="fadeIn first">
        <h3>Sign Up</h3>
      </div>
  
      <!-- Login Form -->
      <form class="p-2">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control text-center" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="email@yahoo.com">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <!-- <label for="exampleInputPassword1">Password</label> -->
              <input type="password" class="form-control text-center" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
                <!-- <label for="ReInputPassword">Reenter</label> -->
                <input type="password" class="form-control text-center" id="ReInputPassword" placeholder="Re-enter Password">
            </div>

            <div class="form-group">
                    <label for="userName">Account Name</label>
                    <input type="email" class="form-control text-center" id="userName" aria-describedby="userName" placeholder="Name">
            </div>

            <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Agree to our Terms of Service</label>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
  
    </div>
  </div>

