<div class="wrapper fadeInDown">
	<div id="formContent" class="p-5">              
	<!-- Header -->
	<div class="fadeIn first">
		<h3>Sign Up</h3>
	</div>
	
	<!-- Login Form -->
	<form [formGroup]="signupForm" class="p-2" (ngSubmit)="OnSubmit()">
		<div  class="form-group" >
			<label >Email address</label>
			<input required type="email" id="login" formControlName="email" class="fadeIn second"  placeholder="email" [email]="true" >
			<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			<div class="alert alert-danger block" *ngIf="email?.invalid && email?.touched">Valid email is required</div>
		</div>
		
		<div class="form-group">
			<label> Create a Password</label>
			<input required type="password" class="fadeIn third" formControlName="password" placeholder="password">
		</div>

		<div class="form-group">
			<input type="password" class="text-center" placeholder="Re-enter Password">
		</div>
						
		<div class="form-group">
			<div class="form-check mb-3">
				<input type="checkbox" formControlName="agreedToTOS" id="agreedToTOS">
				<label class="form-check-label" for="exampleCheck1">Agree to our Terms of Service</label>
			</div>
		</div>

		<div class="form-group">
			<a routerLink="/">
				<button type="submit" [disabled]="signupForm.invalid" class="btn btn-primary">Submit</button>
			</a>
		</div>
	</form>
	
	</div>
</div>

