.roundUserIcon{
     border-radius: 50%;
     width: 75px;
     height: 75px;
}

.userIconContainer{
     width: 75px;
}

.UserName{
     font-family: 'Permanent Marker', cursive;
     font-size: 1.25em;
}