<div class="container pt-sm-2 mt-md-4 mb-sm-0 mb-sm-3 mb-md-4">
	<!-- Search Email Input -->	
	<div class="row pt-3">
	<div class="container-fluid ">
		<div class="input-group mb-md-3">
			<div class="input-group-prepend">
				<span class="input-group-text"><i class="fa">&#xf002;</i></span>
			</div>
			<input type="text" appInputText class="form-control myInput" aria-label="Enter Text to search">
				<div class="input-group-append">
					<button class="btn btn-outline-secondary border-0" type="button"><i class="fa fa-caret-left"></i></button>
					<button class="btn btn-outline-secondary border-0" type="button"><i class="fa fa-caret-left"></i><i class="fa fa-caret-left"></i></button>
					<button class="btn btn-outline-secondary border-0" type="button"><i class="fa fa-caret-right"></i></button>
					<button class="btn btn-outline-secondary border-0" type="button"><i class="fa fa-times"></i></button>
				</div>
		   </div>
	</div>
	<!-- Icons -->
</div>
</div>