<div class="wrapper fadeInDown">
	<div id="formContent" class="p-3">
	<!-- Header -->
	<div class="fadeIn first"><h3>Sign Up</h3>
	</div>
   
	<!-- Login Form -->
	<form [formGroup]="signUpForm" class="p-2">
		<div class="form-group">
			<label class="title fadeIn first" for="exampleInputEmail1">Enter your Email Address</label>
			<input type="email" class="form-control text-center fadeIn first" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="email@yahoo.com">
               <small id="emailHelp" class="form-text text-muted fadeIn first">We'll never share your email with anyone else.</small>
		</div>
          <hr />
          <!-- Password -->
		<div class="form-group">
			<label class="title fadeIn second" for="exampleInputPassword1">Password</label>
			<input type="password" class="form-control text-center fadeIn second" id="exampleInputPassword1" placeholder="Password">
		</div>
          <div class="form-group">
               <input type="password" class="form-control text-center  fadeIn thrid" id="ReInputPassword" placeholder="Re-enter Password">
          </div>
          <hr />
          <!-- Account Name -->
          <div class="form-group">
               <label class="title fadeIn foruth" for="userName">Account Name</label>
               <input type="email" class="form-control text-center fadeIn foruth" id="userName" aria-describedby="userName" placeholder="Name">
          </div>

          <div class="form-check">
               <input type="checkbox" class="form-check-input" id="exampleCheck1">
               <label class="form-check-label" for="exampleCheck1">Agree to all statemens in <a href="#">Terms of service</a>.</label>
          </div>

          <button type="submit" class="mt-3 btn btn-primary" [disabled]="signUpForm.invalid">Submit</button>
     </form>
   
     </div>
</div>