.main-wrapper{
     height: 100vh;
     width: 100vw;
}

.eq-row-height{
     display: flex;
     flex-direction: column;
}

.positionDot{
     position: absolute;
     top: 40px;
}

.class.selected{
     background-color: green; 
}